PORT=3000

DB_HOST=your_db_host
DB_PORT=5432
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require

JWT_SECRET=your_jwt_secret_here
REFRESH_TOKEN=your_refresh_token_secret_here
